/* -------------- general -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #050505;
  --text: #fafafa;
  --primary: #cffccf;
  --secondary: #171a1c;
  --accent: #afb6b6;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  height: 100vh;
  padding: 6rem 3rem;

  background: var(--bg);
  color: var(--text);

  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.8;

  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.gb {
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  opacity: 0.01;

  text-decoration: none;

  transition: all 200ms;
}

.gb:hover {
  opacity: 1;

  font-size: 2.6rem;
}

/* -------------- header -------------- */
header p {
  transition: all 200ms;
}

header a {
  text-decoration: none;
  color: var(--text);

  transition: all 200ms;
}

/* -------------- main -------------- */
main {
  height: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.project-gallery {
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 48.5% 48.5%;
  gap: 1.5rem;

  height: 100%;
  width: 90%;
}

.project-gallery .project-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  border-radius: 0.8rem;

  transition: all 200ms;
}

.project-gallery .project-gallery-item .project-gallery-img:hover {
  transform: scale(1.01);
}

.project-gallery .project-gallery-item .cvcount {
  object-position: center;
}

/* .project-gallery .project-gallery-item:nth-child(2) {
  grid-row: span 2;
} */

/* -------------- effects -------------- */
.hover-effect:hover {
  color: var(--primary);
}

/* -------------- responsive -------------- */
@media (max-width: 425px) {
  body {
    font-size: 2rem;
  }
}
