/* -------------- general -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #050505;
  --text: #fafafa;
  --primary: #cffccf;
  --secondary: #171a1c;
  --accent: #afb6b6;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  height: 100vh;
  padding: 6rem 3rem;

  background: var(--bg);
  color: var(--text);

  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
}

.gb {
  position: absolute;
  right: 2rem;
  bottom: 2rem;

  opacity: 0.01;

  text-decoration: none;

  transition: all 200ms;
}

.gb:hover {
  opacity: 1;

  font-size: 2.6rem;
}

/* -------------- header -------------- */
header,
header > p {
  margin-bottom: 0.8rem;
}

header p {
  transition: all 200ms;
}

/* -------------- footer -------------- */
footer a {
  text-decoration: none;
  color: var(--text);

  transition: all 200ms;
}

.hover-effect:hover {
  color: var(--primary);
}

/* -------------- responsive -------------- */
@media (max-width: 425px) {
  body {
    font-size: 2rem;
  }
}
