.swiper-pagination {
  bottom: 7rem !important;
}

@media (min-width: 770px) {
  .swiper-pagination {
    display: none !important;
  }
}

@media (max-width: 770px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

#creative
  > div
  > div
  > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 220px !important;
}
